body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.sucess {
    max-width: 400px;
    margin: 2em auto;
    background-color: white;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
}

h3 {
    color: #555;
    margin-top: 0.5em;
}

a {
    text-decoration: none;
    color: #333;
    display: block;
    margin-top: 1em;
    padding: 0.5em 1em;
    background-color: #333;
    color: white;
    border-radius: 4px;
}

a:hover {
    background-color: #555;
}
