body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.box {
    max-width: 350px;
    margin: 2em auto;
    background-color: white;
    padding: 1em;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.box-logo {
    color: #333;
    font-size: 36px;
    margin-bottom: 15px;
}

.box-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
}

.box-input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.box-button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.box-button:hover {
    background-color: #555;
}

.box-register {
    margin-top: 15px;
    color: #555;
    font-size: 14px;
}

.box-register a {
    text-decoration: none;
    color: #333;
}

.box-register a:hover {
    color: #555;
}

.errorMessage {
    color: #FF0000;
    margin-top: 10px;
}
